@font-face {
  font-family: 'CourCyr';
  src: url("https://utidteam.com/fonts/cool_font.ttf");
}
body {
  background-color: #121212;
  color: white;
  font-size: 1.2em;
  font-family: 'Helvetica', sans-serif;
  overflow-y: hidden;
}
.page {
  width: 670px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}
canvas {
  border: 1px solid black;
  margin-bottom: 20px;
  cursor: text;
}
button {
  border-radius: 999px;
  padding: 10px 40px;
  border: 0;
  background: linear-gradient(#fff, #bbb);
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0px 2px 20px 0px rgba(255,255,255,0.35);
  user-select: none;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  vertical-align: middle;
  display: inline-block;
  width: fit-content;
}
button:hover {
  box-shadow: 0px 2px 20px 0px rgba(255,255,255,0.27);
}
button:focus {
  outline: 0;
}
button:active {
  outline: 0;
  box-shadow: 0px 2px 30px 0px rgba(255,255,255,0.1);
  color: black;
}
input[type=range] {
  width: 80px;
  background-color: white;
}
input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(transparent 40%, #ffffff 40.1%, #ffffff 59.9%, transparent 60%);
}
.durka {
  display: block;
  margin-top:20px;
  width: 100%;
}
.warning, .hint{
  width: 100%;
  text-align: justify;
}
.hint {
  position: absolute;
}
#textc {
  margin-left: 10px;
}
.options {
  display: inline-block;
  vertical-align: middle;
}
#font-not-loaded, #font-loaded {
  opacity: 0;
  position: absolute;
}
#font-loaded {
  font-family: 'CourCyr';
}
